<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Black Lives Matter Resources" />
		<meta name="keywords" content="">
		<meta property="og:title" content=""/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:description" content=""/>
		
		<title>Idk what to call this yet</title>
		
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />

		<!--<script src="jquery-1.11.0.js"></script>-->


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
			

	</head>
	<body>

		<div class="page-container">
			<div class="header-container">
				<h1>Now is the time to stand up.</h1>
				<h2 class="hashtag">#BLACKLIVESMATTER</h2>
			</div>
			<div class="section-container">
				<hr>
				<h2>GET INVOLVED&mdash;</h2>
				<div class="resource-grid">
					<div class="resource-section">
						<h3>(PETITION)</h3>
						{{#each petitions}}
							<h4><a href="{{url}}">{{title}}</a></h4>
						{{/each}}
					</div>
					<div class="resource-section">
						<h3>(EDUCATE)</h3>
						{{#each education}}
							<h4><a href="{{url}}">{{title}}</a></h4>
						{{/each}}
					</div>
					<div class="resource-section">
						<h3>DONATE</h3>
						{{#each donations}}
							<h4><a href="{{url}}">{{title}}</a></h4>
						{{/each}}
					</div>
					<div class="resource-section">
						<h3>READ</h3>
						{{#each readings}}
							<h4><a href="{{url}}">{{title}}</a></h4>
						{{/each}}
					</div>
				</div>

			</div>

			<div class="section-container">
				<hr>
				<h2>WE REMEMBER&mdash;</h2>
				<div class="grid">
					{{#each people}}
						<div class="person-container">
							<div class="name-container">
								<h6>{{name}}</h6>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
			
		</div> <!-- page-container -->

		<!--<script type="text/javascript" src="js/portfolio.js"></script>-->
	</body>
</html>

